In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("fundamentals.csv")
df

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,0.000000e+00,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 79 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           1781 non-null   int64
 1   Ticker Symbol                                        1781 non-null   object
 2   Period Ending                                        1781 non-null   object
 3   Accounts Payable                                     1781 non-null   float64
 4   Accounts Receivable                                  1781 non-null   float64
 5   Add'l income/expense items                           1781 non-null   float64
 6   After Tax ROE                                        1781 non-null   float64
 7   Capital Expenditures                                 1781 non-null   float64
 8   Capital Surplus                                      1781 non-null   float64
 9   Cash Ratio                                           1482 non-null   float64
 10  Cash and Cash Equivalents                            1781 non-null   float64
 11  Changes in Inventories                               1781 non-null   float64
 12  Common Stocks                                        1781 non-null   float64
 13  Cost of Revenue                                      1781 non-null   float64
 14  Current Ratio                                        1482 non-null   float64
 15  Deferred Asset Charges                               1781 non-null   float64
 16  Deferred Liability Charges                           1781 non-null   float64
 17  Depreciation                                         1781 non-null   float64
 18  Earnings Before Interest and Tax                     1781 non-null   float64
 19  Earnings Before Tax                                  1781 non-null   float64
 20  Effect of Exchange Rate                              1781 non-null   float64
 21  Equity Earnings/Loss Unconsolidated Subsidiary       1781 non-null   float64
 22  Fixed Assets                                         1781 non-null   float64
 23  Goodwill                                             1781 non-null   float64
 24  Gross Margin                                         1781 non-null   float64
 25  Gross Profit                                         1781 non-null   float64
 26  Income Tax                                           1781 non-null   float64
 27  Intangible Assets                                    1781 non-null   float64
 28  Interest Expense                                     1781 non-null   float64
 29  Inventory                                            1781 non-null   float64
 30  Investments                                          1781 non-null   float64
 31  Liabilities                                          1781 non-null   float64
 32  Long-Term Debt                                       1781 non-null   float64
 33  Long-Term Investments                                1781 non-null   float64
 34  Minority Interest                                    1781 non-null   float64
 35  Misc. Stocks                                         1781 non-null   float64
 36  Net Borrowings                                       1781 non-null   float64
 37  Net Cash Flow                                        1781 non-null   float64
 38  Net Cash Flow-Operating                              1781 non-null   float64
 39  Net Cash Flows-Financing                             1781 non-null   float64
 40  Net Cash Flows-Investing                             1781 non-null   float64
 41  Net Income                                           1781 non-null   float64
 42  Net Income Adjustments                               1781 non-null   float64
 43  Net Income Applicable to Common Shareholders         1781 non-null   float64
 44  Net Income-Cont. Operations                          1781 non-null   float64
 45  Net Receivables                                      1781 non-null   float64
 46  Non-Recurring Items                                  1781 non-null   float64
 47  Operating Income                                     1781 non-null   float64
 48  Operating Margin                                     1781 non-null   float64
 49  Other Assets                                         1781 non-null   float64
 50  Other Current Assets                                 1781 non-null   float64
 51  Other Current Liabilities                            1781 non-null   float64
 52  Other Equity                                         1781 non-null   float64
 53  Other Financing Activities                           1781 non-null   float64
 54  Other Investing Activities                           1781 non-null   float64
 55  Other Liabilities                                    1781 non-null   float64
 56  Other Operating Activities                           1781 non-null   float64
 57  Other Operating Items                                1781 non-null   float64
 58  Pre-Tax Margin                                       1781 non-null   float64
 59  Pre-Tax ROE                                          1781 non-null   float64
 60  Profit Margin                                        1781 non-null   float64
 61  Quick Ratio                                          1482 non-null   float64
 62  Research and Development                             1781 non-null   float64
 63  Retained Earnings                                    1781 non-null   float64
 64  Sale and Purchase of Stock                           1781 non-null   float64
 65  Sales, General and Admin.                            1781 non-null   float64
 66  Short-Term Debt / Current Portion of Long-Term Debt  1781 non-null   float64
 67  Short-Term Investments                               1781 non-null   float64
 68  Total Assets                                         1781 non-null   float64
 69  Total Current Assets                                 1781 non-null   float64
 70  Total Current Liabilities                            1781 non-null   float64
 71  Total Equity                                         1781 non-null   float64
 72  Total Liabilities                                    1781 non-null   float64
 73  Total Liabilities & Equity                           1781 non-null   float64
 74  Total Revenue                                        1781 non-null   float64
 75  Treasury Stock                                       1781 non-null   float64
 76  For Year                                             1608 non-null   float64
 77  Earnings Per Share                                   1562 non-null   float64
 78  Estimated Shares Outstanding                         1562 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 1.1+ MB

AttributeError: 'DataFrame' object has no attribute 'corrcoef'

In [3]:
df.describe()

,Unnamed: 0,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
count,1781.000000,1.781000e+03,1.781000e+03,1.781000e+03,1781.000000,1.781000e+03,1.781000e+03,1482.000000,1.781000e+03,1.781000e+03,...,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1608.000000,1562.000000,1.562000e+03
mean,890.000000,4.673418e+09,-6.353484e+07,6.908940e+07,43.601348,-1.251925e+09,5.351784e+09,74.457490,8.521399e+09,-6.787749e+07,...,6.726349e+09,4.699919e+09,1.188846e+10,4.380420e+10,5.569266e+10,2.029154e+10,-3.951522e+09,2013.305348,3.353707,6.024244e+08
std,514.274732,1.406047e+10,7.562794e+08,6.848143e+08,233.924028,2.979963e+09,1.133977e+10,102.298374,5.432105e+10,3.903369e+08,...,1.344800e+10,9.538832e+09,2.584429e+10,1.817039e+11,2.033612e+11,4.095355e+10,1.407047e+10,19.953135,4.695896,1.142585e+09
min,0.000000,0.000000e+00,-6.452000e+09,-6.768000e+09,0.000000,-3.798500e+10,-7.215000e+08,0.000000,2.100000e+04,-5.562000e+09,...,0.000000e+00,0.000000e+00,-1.324400e+10,2.577000e+06,2.705000e+06,1.514000e+06,-2.297340e+11,1215.000000,-61.200000,-1.513945e+09
25%,445.000000,5.160000e+08,-1.040000e+08,-2.638000e+06,10.000000,-1.151200e+09,4.791000e+08,17.000000,3.088000e+08,-5.400000e+07,...,1.044178e+09,5.640760e+08,2.201492e+09,3.843300e+09,6.552689e+09,3.714000e+09,-3.040895e+09,2013.000000,1.590000,1.493318e+08
50%,890.000000,1.334000e+09,-1.830000e+07,2.000000e+06,16.000000,-3.580000e+08,1.997080e+09,41.000000,8.625900e+08,0.000000e+00,...,2.747200e+09,1.701500e+09,4.983000e+09,9.141000e+09,1.517000e+10,8.023200e+09,-3.068350e+08,2014.000000,2.810000,2.929409e+08
75%,1335.000000,3.246000e+09,7.816000e+06,3.359200e+07,26.000000,-1.291000e+08,5.735000e+09,90.000000,2.310000e+09,0.000000e+00,...,6.162000e+09,4.381000e+09,1.080900e+10,2.389700e+10,3.599710e+10,1.748600e+10,0.000000e+00,2015.000000,4.590000,5.492163e+08
max,1780.000000,2.069390e+11,2.266400e+10,1.416200e+10,5789.000000,5.000000e+06,1.082880e+11,1041.000000,7.281110e+11,3.755000e+09,...,1.396600e+11,9.028100e+10,2.562050e+11,2.340547e+12,2.572274e+12,4.856510e+11,0.000000e+00,2016.000000,50.090000,1.610769e+10

In [5]:
df.isnull().sum()

Unnamed: 0                        0
Ticker Symbol                     0
Period Ending                     0
Accounts Payable                  0
Accounts Receivable               0
                               ...
Total Revenue                     0
Treasury Stock                    0
For Year                        173
Earnings Per Share              219
Estimated Shares Outstanding    219
Length: 79, dtype: int64

In [14]:
df.isnull().sum()/len(df)*100

Unnamed: 0                       0.000000
Ticker Symbol                    0.000000
Period Ending                    0.000000
Accounts Payable                 0.000000
Accounts Receivable              0.000000
                                  ...
Total Revenue                    0.000000
Treasury Stock                   0.000000
For Year                         9.713644
Earnings Per Share              12.296463
Estimated Shares Outstanding    12.296463
Length: 79, dtype: float64

In [15]:
null_percentage = df.isnull().sum()/df.shape[0]*100

In [16]:
null_percentage

Unnamed: 0                       0.000000
Ticker Symbol                    0.000000
Period Ending                    0.000000
Accounts Payable                 0.000000
Accounts Receivable              0.000000
                                  ...
Total Revenue                    0.000000
Treasury Stock                   0.000000
For Year                         9.713644
Earnings Per Share              12.296463
Estimated Shares Outstanding    12.296463
Length: 79, dtype: float64

In [17]:
# Dropping column less than75%
df.drop(df.columns[df.isnull().sum()/len(df)*100>75],axis=1)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,0.000000e+00,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN

In [18]:
df.columns[df.isnull().mean()>0.75]
df2 = df[df.columns[df.isnull().any()]]

In [19]:
df2

,Cash Ratio,Current Ratio,Quick Ratio,For Year,Earnings Per Share,Estimated Shares Outstanding
0,53.0,78.0,72.0,2012.0,-5.60,3.350000e+08
1,75.0,104.0,96.0,2013.0,-11.25,1.630222e+08
2,60.0,88.0,80.0,2014.0,4.02,7.169154e+08
3,51.0,73.0,67.0,2015.0,11.39,6.681299e+08
4,23.0,124.0,34.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...
1776,NaN,NaN,NaN,2015.0,1.20,2.578925e+08
1777,43.0,237.0,146.0,2013.0,1.01,4.990099e+08
1778,81.0,319.0,200.0,2014.0,1.16,5.025862e+08
1779,65.0,215.0,133.0,2015.0,0.68,4.985294e+08
1780,65.0,303.0,169.0,NaN,NaN,NaN

In [20]:
#replace the null values as 0.00 
df2.fillna(0.00)

,Cash Ratio,Current Ratio,Quick Ratio,For Year,Earnings Per Share,Estimated Shares Outstanding
0,53.0,78.0,72.0,2012.0,-5.60,3.350000e+08
1,75.0,104.0,96.0,2013.0,-11.25,1.630222e+08
2,60.0,88.0,80.0,2014.0,4.02,7.169154e+08
3,51.0,73.0,67.0,2015.0,11.39,6.681299e+08
4,23.0,124.0,34.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...
1776,0.0,0.0,0.0,2015.0,1.20,2.578925e+08
1777,43.0,237.0,146.0,2013.0,1.01,4.990099e+08
1778,81.0,319.0,200.0,2014.0,1.16,5.025862e+08
1779,65.0,215.0,133.0,2015.0,0.68,4.985294e+08
1780,65.0,303.0,169.0,0.0,0.00,0.000000e+00

In [23]:
a=df.isnull().sum()
for i,j in a.items():
    print(i,j)

Unnamed: 0 0
Ticker Symbol 0
Period Ending 0
Accounts Payable 0
Accounts Receivable 0
Add'l income/expense items 0
After Tax ROE 0
Capital Expenditures 0
Capital Surplus 0
Cash Ratio 299
Cash and Cash Equivalents 0
Changes in Inventories 0
Common Stocks 0
Cost of Revenue 0
Current Ratio 299
Deferred Asset Charges 0
Deferred Liability Charges 0
Depreciation 0
Earnings Before Interest and Tax 0
Earnings Before Tax 0
Effect of Exchange Rate 0
Equity Earnings/Loss Unconsolidated Subsidiary 0
Fixed Assets 0
Goodwill 0
Gross Margin 0
Gross Profit 0
Income Tax 0
Intangible Assets 0
Interest Expense 0
Inventory 0
Investments 0
Liabilities 0
Long-Term Debt 0
Long-Term Investments 0
Minority Interest 0
Misc. Stocks 0
Net Borrowings 0
Net Cash Flow 0
Net Cash Flow-Operating 0
Net Cash Flows-Financing 0
Net Cash Flows-Investing 0
Net Income 0
Net Income Adjustments 0
Net Income Applicable to Common Shareholders 0
Net Income-Cont. Operations 0
Net Receivables 0
Non-Recurring Items 0
Operating Income 0
Operating Margin 0
Other Assets 0
Other Current Assets 0
Other Current Liabilities 0
Other Equity 0
Other Financing Activities 0
Other Investing Activities 0
Other Liabilities 0
Other Operating Activities 0
Other Operating Items 0
Pre-Tax Margin 0
Pre-Tax ROE 0
Profit Margin 0
Quick Ratio 299
Research and Development 0
Retained Earnings 0
Sale and Purchase of Stock 0
Sales, General and Admin. 0
Short-Term Debt / Current Portion of Long-Term Debt 0
Short-Term Investments 0
Total Assets 0
Total Current Assets 0
Total Current Liabilities 0
Total Equity 0
Total Liabilities 0
Total Liabilities & Equity 0
Total Revenue 0
Treasury Stock 0
For Year 173
Earnings Per Share 219
Estimated Shares Outstanding 219

In [26]:
new_df = df[df.columns[df.isna().sum()!=0]]
new_df

,Cash Ratio,Current Ratio,Quick Ratio,For Year,Earnings Per Share,Estimated Shares Outstanding
0,53.0,78.0,72.0,2012.0,-5.60,3.350000e+08
1,75.0,104.0,96.0,2013.0,-11.25,1.630222e+08
2,60.0,88.0,80.0,2014.0,4.02,7.169154e+08
3,51.0,73.0,67.0,2015.0,11.39,6.681299e+08
4,23.0,124.0,34.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...
1776,NaN,NaN,NaN,2015.0,1.20,2.578925e+08
1777,43.0,237.0,146.0,2013.0,1.01,4.990099e+08
1778,81.0,319.0,200.0,2014.0,1.16,5.025862e+08
1779,65.0,215.0,133.0,2015.0,0.68,4.985294e+08
1780,65.0,303.0,169.0,NaN,NaN,NaN

In [27]:
temp_df = new_df.copy()
temp_df

,Cash Ratio,Current Ratio,Quick Ratio,For Year,Earnings Per Share,Estimated Shares Outstanding
0,53.0,78.0,72.0,2012.0,-5.60,3.350000e+08
1,75.0,104.0,96.0,2013.0,-11.25,1.630222e+08
2,60.0,88.0,80.0,2014.0,4.02,7.169154e+08
3,51.0,73.0,67.0,2015.0,11.39,6.681299e+08
4,23.0,124.0,34.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...
1776,NaN,NaN,NaN,2015.0,1.20,2.578925e+08
1777,43.0,237.0,146.0,2013.0,1.01,4.990099e+08
1778,81.0,319.0,200.0,2014.0,1.16,5.025862e+08
1779,65.0,215.0,133.0,2015.0,0.68,4.985294e+08
1780,65.0,303.0,169.0,NaN,NaN,NaN

In [28]:
for i in ["Cash Ratio","Current Ratio","Quick Ratio","Earnings Per Share","Estimated Shares Outstanding"]:  
    temp_df[i].fillna(temp_df[i].median(),inplace=True)
    
temp_df["For Year"].fillna(temp_df["For Year"].mode(),inplace=True)

In [29]:
temp_df

,Cash Ratio,Current Ratio,Quick Ratio,For Year,Earnings Per Share,Estimated Shares Outstanding
0,53.0,78.0,72.0,2012.0,-5.60,3.350000e+08
1,75.0,104.0,96.0,2013.0,-11.25,1.630222e+08
2,60.0,88.0,80.0,2014.0,4.02,7.169154e+08
3,51.0,73.0,67.0,2015.0,11.39,6.681299e+08
4,23.0,124.0,34.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...
1776,41.0,152.0,115.0,2015.0,1.20,2.578925e+08
1777,43.0,237.0,146.0,2013.0,1.01,4.990099e+08
1778,81.0,319.0,200.0,2014.0,1.16,5.025862e+08
1779,65.0,215.0,133.0,2015.0,0.68,4.985294e+08
1780,65.0,303.0,169.0,NaN,2.81,2.929409e+08

In [ ]:
#